table .badge {
    border-radius: 6px;
    display: inline-block;
    font-size: 13px;
    min-width: 105px;
    padding: 8px 20px;
    font-weight: 500;
    text-align: center;
}
.bg-primary-light {
    background-color: rgba(17, 148, 247, 0.12) !important;
    color: #2196f3 !important;
}
.bg-success-light {
    background-color: rgba(15, 183, 107, 0.12) !important;
    color: #26af48 !important;
}
.bg-danger-light {
    background-color: rgb(255 218 218 / 49%) !important;
    color: #FF0000 !important;
}

 .bg-status-orange-light {
	background-color: #fef5e4 !important;

	color: #ff9b01 !important;
}

.bg-status-pink-light {
	background-color: #ffe5f6 !important;
	color: #ff01a2 !important;
}
 .bg-secondary-light {
	background-color: #D3D3D3 !important;
	color: #808080 !important;
}
.custom-badge {
	border-radius: 8px;
	display: inline-block;
	font-size: 12px;
	min-width: 115px;
	padding: 5px 15px;
	text-align: center;
	border: 0;
}
.status-red,
a.status-red {
	background-color: #ffe5e6;
	color: #fe0000;
}
.status-green,
a.status-green {
	background: rgba(0, 211, 199, 0.1);
	color: #00D3C7;
}
.status-orange,
a.status-orange {
	background-color: #fef5e4;
	color: #ff9b01;
}
.status-blue,
a.status-blue {
	background-color: #e5f3fe;
	color: #008cff;
}
.status-purple,
a.status-purple {
	background-color: #f3e7fd;
	color: #8f13fd;
}
.status-pink,
a.status-pink {
	background-color: #ffe5f6;
	color: #ff01a2;
}
.status-grey,
a.status-grey {
	background-color: #ddd;
	color: #818181;
}
.btn-grey {
	background-color: #b2b2b2;
	border: 1px solid #b2b2b2;
}
.badge-success-border {
	border: 1px solid #55ce63;
	color: #55ce63;
	background-color: #fff;
	display: inline-block;
	min-width: 80px;
}
.badge-danger-border {
	border: 1px solid #f62d51;
	color: #f62d51;
	background-color: #fff;
	display: inline-block;
	min-width: 80px;
}
.badge-warning-border {
	border: 1px solid #ffbc34;
	color: #ffbc34;
	background-color: #fff;
	display: inline-block;
	min-width: 80px;
}
.badge-info-border {
	border: 1px solid #009efb;
	color: #009efb;
	background-color: #fff;
	display: inline-block;
	min-width: 80px;
}
.bg-primary,
.badge-primary {
	background-color: #009efb !important;
}
.bg-success,
.badge-success {
	background-color: #55ce63 !important;
}
.bg-info,
.badge-info {
	background-color: #009efb !important;
}
.bg-warning,
.badge-warning {
	background-color: #ffbc34 !important;
}
.bg-danger,
.badge-danger {
	background-color: #f62d51 !important;
}
.badge.rounded-pill {
	border-radius: 10rem;
}
.badge-primary {
	color: #fff;
}
